<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRYuRg7-YcxT6pAP74EE-0l6oqeJ5sbv4</string>
	<key>GCM_SENDER_ID</key>
	<string>47854566464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMebelAppRev.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-mebel</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mebel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47854566464:ios:c702b11b30c9164e02f3a5</string>
</dict>
</plist>